@import "./normalize.scss";
@import "./scssConfig.scss";

i[class^="icon"] {
    //获取类名开头为icon的i标签
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color_main;
    background-repeat: no-repeat;
}
.icon-help {
    background-image: url(~@/assets/images/icon/icon-help.png);
}
.icon-location {
    background-image: url(~@/assets/images/icon/icon-location.png);
}
.icon-router-link-001 {
    background-image: url(~@/assets/images/icon/icon-router-link-001.png);
}
.icon-router-link-002 {
    background-image: url(~@/assets/images/icon/icon-router-link-002.png);
}
.icon-router-link-003 {
    background-image: url(~@/assets/images/icon/icon-router-link-003.png);
}
.icon-router-link-004 {
    background-image: url(~@/assets/images/icon/icon-router-link-004.png);
}
.icon-router-link-005 {
    background-image: url(~@/assets/images/icon/icon-router-link-005.png);
}
.icon-search {
    background-image: url(~@/assets/images/icon/icon-search.png);
}
.icon-user {
    background-image: url(~@/assets/images/icon/icon-user.png);
}
